* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.625rem;
  font-family: 'Poppins', 'Times New Roman', Times, serif ;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  font-size: 1.4rem;
  margin-top: 0.3125rem;
  line-height: 2.5rem;
  font-weight: 200;
  letter-spacing: 0.05rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 4rem;
  font-weight: 500;
  color: black;
  margin: 3.125rem 0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
}

h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 0.625rem;
}