#apresentacao {
  background-image: url("../image/background.jpeg");
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.apresentacao div:nth-child(1) {
  flex-direction: column;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.apresentacao-texto {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#apresentacao h1 {
  position: relative;
  width: fit-content;
  color: #FFF;
  font-size: 5rem;
  color: transparent;
  animation: text_white .5s forwards;
  animation-delay: 1.5s;
}

#apresentacao h1:nth-child(1) span {
  animation-delay: .5s;
}

#apresentacao h1:nth-child(2) span {
  animation-delay: 1.5s;
}

#apresentacao h1:nth-child(3) span {
  animation-delay: 2.5s;
}

#apresentacao h1:nth-child(1) {
  animation-delay: 0.8s;
}

#apresentacao h1:nth-child(2) {
  animation-delay: 1.8s;
}

#apresentacao h1:nth-child(3) {
  animation: text_yellow .5s forwards;
  animation-delay: 2.8s;
}

#apresentacao .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#apresentacao a {
  text-transform: uppercase;
  border: 0.2rem solid #FFD700;
  padding: 0.625rem 8rem;
  color: #FFD700;
  font-size: 2rem;
  margin: 0.625rem 0.625rem 1.25rem 0.625rem;
  text-align: center;
}

#apresentacao a:hover {
  background-color: #FFD700;
  color: #FFF;
  transition: 0.7s ease;
  font-weight: 700;
}

#apresentacao span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  animation: efeito 1s ease;
  animation-delay: .5s;
  background-color: #FFD700;
}

#apresentacao::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: -1;
}

@keyframes text_white {
  100% {
    color: #FFF;
  }
}

@keyframes text_yellow {
  100% {
    color: #FFD700;
  }
}

@keyframes efeito {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@media (min-width: 320px) and (max-width: 450px) {
  #apresentacao h1 {
    font-size: 11.5vw;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
  }
}

